[2017-04-25 12:53] kaushalmodi opened #1 "eless: Doesn't preserve view-mode when opening file from dired"
As posted by @alphapapa [here][1]:

[1]: https://github.com/kaushalmodi/.emacs.d/issues/26

[2017-04-25 12:57] kaushalmodi commented on #1
Strange that you mention that :)

I am [specifically][1] disabling `view-mode` if `dired-mode` is detected. My main reason for doing that is because the `view-mode-map` keys shadowed many useful bindings in `dired-mode-map`. As `dired-mode` is anyways a `special-mode`, it is "read-only" by default (i.e. it is not a normal editable file buffer), there is no need to enable `view-mode`.

I though hav

[2017-04-25 19:09] itamarst opened #3 "Any reason GUI mode is forced for man pages and the like?"
It'd be nice if `eless` could be set to always use console or alway use GUI, I found the seemingly random choice of one or the other confusing.

[2017-04-25 19:19] kaushalmodi commented on #3
This has been fixed few minutes back (https://github.com/kaushalmodi/eless/commit/943a513187d4f21622375d669dd20824f2458c00).

Earlier the limitation was the `emacs -Q -nw` could not received input from the pipe. `man` always sends data to the end process like `less` (`$PAGER`) via a pipe. So the same limitation applied.

This has now been fixed. Please git pull again and let me know if it works.

[2017-04-25 19:32] itamarst commented on #3
With latest version for `PAGER=eless man grep` I am getting console emacs... but split into two panes.

[2017-04-25 19:41] kaushalmodi commented on #3
![mangrep](https://cloud.githubusercontent.com/assets/3578197/25404273/3fcf4454-29cd-11e7-8c22-11d686e036de.gif)

As we cannot pass the `-D` flag for `eless` directly to `man grep`, set `PAGER` to `eless -D`.

- I do not see `man` started with split windows. What emacs version are you on? I am on the latest build of emacs.
- Here is the debug info I get:

[code]

[2017-04-25 19:44] itamarst commented on #3
24.5.1. Running inside tmux. Here's output:

[code]

[2017-04-25 19:54] kaushalmodi commented on #3
I sorted of guessed that. The good news is that this issue has long been fixed. I would suggest that you upgrade to the recently released emacs 25.2.

I verified that the issue you mentioned happens on 24.5, but not on 25.1.

I'll still try fixing this so that it behaves the same for emacs 24.5 too.

[2017-04-25 19:55] itamarst commented on #3
OK, thanks! I've been thinking about upgrading to latest Ubuntu, might be the excuse I need.

[2017-04-25 20:18] kaushalmodi commented on #3
Let me know if this fixes the issue for you: https://github.com/kaushalmodi/eless/commit/57668b7eb944d2a4059587ae25221e3730a60790

[2017-04-25 20:36] itamarst commented on #3
Now it starts with two panes and then jumps into having only one after a moment. I should probably just upgrade to newer version of Emacs...

Thanks for the help, and for the neat tool!

[2017-04-25 20:36] #3 closed

[2017-04-25 20:40] kaushalmodi commented on #3
Yeah, it's just a workaround.. I'll come back to this if I find a better way of fixing this.

Glad to help!

[2017-04-25 23:32] alphapapa commented on #1
Hm, well, what I mean is, if I'm thinking of eless as a "better less," then when I use it to view a file from its built-in dired mode, I would expect it to view that file in a read-only view mode, not regular Emacs editor mode.  :)

That's a good idea.

[2017-04-26 00:19] kaushalmodi commented on #1
But the dired-mode *is* a read-only mode. It becomes "writeable" only when wdired is enabled.

[2017-04-26 02:34] alphapapa commented on #1
Sorry, what I mean is:

1.  User runs `eless .`, which opens a dired buffer.
2.  User presses `RET` on a text file (not necessarily `txt`).
3.  The file is now opened in normal, writable mode.  This seems contrary to the purpose of `eless`, to *view* files, and to require manual intervention to disable `read-only-mode`.

[2017-04-26 07:51] iqbalansari opened #4 "Output the contents of the buffer, when connected to a pipe"
Just a thought perhaps `eless` can output the current buffer, when its output is pipe, this way it can part of a larger pipeline.

The use case I am thinking of is using eless, as an interactive replacement for likes of `sed` or `awk` allowing user to transform the text before it goes to next thing in the pipeline.

[2017-04-26 14:49] kaushalmodi commented on #1
Thanks for that explanation..

If I bind RET to `dired-view-file` (bound to `v` by default), would that work?

[2017-04-26 15:36] kaushalmodi commented on #1
Try updating to the latest https://github.com/kaushalmodi/eless/commit/e5f53639cc5c5366c58e7095ba8bebc9483de6f0

[2017-04-26 15:40] kaushalmodi commented on #4
That thought did cross my mind, but as you see in the code, I quit the script if one tries to do that. I have never needed to edit something interactively inbetween a pipe.

Also this would be a feature-creep from the emacs view-mode and less-like functionality. I am on the fence about whether we should add this functionality.

[2017-04-26 19:52] alphapapa commented on #1
Thanks, that's great.

[2017-04-26 19:57] kaushalmodi commented on #1
Thanks. You might like the new `q` binding with this change too ( https://github.com/kaushalmodi/eless/commit/2f23f9c9f9a0bbbdc28cc024c16a4137a22e7732 ). I made commits in the wrong order.. this commit was made before the above referenced, but it makes more sense in the reverse order.

[2017-04-26 22:33] alphapapa commented on #4
It's a really neat idea.

[2017-04-27 00:31] kaushalmodi opened #5 "Limit parsing for diff markers to first few lines"
Currently the whole buffer is parsed to check if diff-mode needs to be enabled.

Limiting that check to the first 10 lines should be enough.

[2017-04-27 00:32] kaushalmodi opened #6 "Auto-detect ANSI codes"
Parse the first few lines (may be 10?) to see if the file contains ANSI codes. If found, call the `ansi-color-apply-on-region` .

Probably remove the `-ansi` switch after that?

[2017-04-27 00:35] kaushalmodi opened #7 "Don't prompt to save buffer if in view-mode"
If view-mode is enabled, user could have used functions like `keep-lines`. The purpose is usually to filter out lines when reviewing log files.

So at the time if quitting, if view-mode is in enabled state, but the buffer is modified, ignore that and don't prompt the user to save anything.

On the other hand, if the view-mode is off and the buffer is modified, prompt to save as usual.

[2017-04-27 02:16] alphapapa commented on #6
Would you consider using long-style options, i.e. `--ansi` instead of `-ansi`?

[2017-04-27 02:19] kaushalmodi commented on #6
Ah, I forgot about that, I will switch to long style option for `--gui` too. And if the auto-detection works well for ANSI, may be not have that option at all. WDYT?

[2017-04-27 04:54] alphapapa commented on #6
Thanks.

Yeah, I'd say that if the auto-detection works, maybe make it the default and have an option to disable it.  Or just no option at all; if someone really needs to debug terminal control codes, this tool probably doesn't need to optimize for that.  :)

[2017-04-27 10:40] kaushalmodi opened #8 "Add option to open info manuals"
Idea is to have an option like `--info`.

So if one does `eless --info emacs`, it opens the Emacs Info Manual in `eless`. The argument after `--info` could be any Info manual available on the system.

Eventually should be able to alias `info` to `eless --info`.

[2017-04-29 11:22] iqbalansari commented on #4
@kaushalmodi As much as I would to have this feature, I certainly appreciate your concerns regarding feature-creep.

Though if  you think of it Emacs is ultimately a tool to manipulate text, so it makes sense to allow users to use it transform contents in a pipeline. I personally have been in situations in past where the input was too complex for my awk/sed foo and I had to copy the text to a file

[2017-04-29 12:39] kaushalmodi commented on #4
I would have just used emacs to do the whole thing, and even end up writing an elisp snippet for the just-in-case event that I might need to repeat that :)

But yes, that use case does make sense. Let me find some time next week to look into this. It's probably as simple as doing `(message (buffer-substring-no-properties (point-min) (point-max)))` at the very end (kill-emacs-hook?) if it's detecte

[2017-04-29 14:21] iqbalansari commented on #4
Nothing useful at all actually, I was just trying to show `less`'s default behavior when its output is connected to `stdout` (just putting whatever it gets on `stdin` to `stdout`, as opposed to erring out like `eless` currently does).

I just thought it would be better if `eless` mimics `less`'s behavior here.

It was complicated 😄, I was fetching page extracting links from it, fetching each of th

[2017-04-29 14:29] kaushalmodi commented on #1
@alphapapa I believe this issue is fixed. Feel free to re-open it if needed.

[2017-04-29 14:29] #1 closed

[2017-04-29 17:44] kaushalmodi opened #9 "Generate eless script using org-tangle"
Have a single eless.org and generate the script and documentation from that.

[2017-05-02 17:20] kaushalmodi commented on #5
Fixed in https://github.com/kaushalmodi/eless/commit/252efc197e73716df75805edae9db788177f549c

[2017-05-02 17:20] #5 closed

[2017-05-02 18:13] kaushalmodi commented on #6
- Now the ANSI codes are auto-detected.
- `--ansi` switch is removed; not needed.

https://github.com/kaushalmodi/eless/commit/e327933885ae01342a58740d6684cf93bef20543

[2017-05-02 18:13] #6 closed

[2017-05-02 18:39] #7 closed

[2017-05-02 19:44] kaushalmodi commented on #8
The `--info` option won't be needed eventually. The Info mode setting is done automatically when the user does `info emacs | eless`.

[2017-05-02 19:44] #8 closed

[2017-05-03 17:48] kaushalmodi commented on #9
Done!

- [Source org file for code + documentation][1]
- [ Tangled output code][2]
- [Generated documentation][3]

[1]: https://github.com/kaushalmodi/eless/blob/master/eless.org
[2]: https://github.com/kaushalmodi/eless/blob/master/eless
[3]: https://cdn.rawgit.com/kaushalmodi/eless/doc/eless.html

[2017-05-03 17:48] #9 closed

[2017-05-03 17:51] kaushalmodi opened #10 "Allow user to override the eless emacs config"
One of the users on reddit wanted to override the default eless bindings. [[Ref][1]]

Implement a way to load a user config file, if available; probably in `~/.emacs.d/eless.el`.

[1]: https://www.reddit.com/r/emacs/comments/67aiv4/a_better_less_using_emacs_viewmode_as_substitute/dh1y7ed/

[2017-05-03 18:01] kaushalmodi opened #11 "Add documentation on how to contribute"
Now that eless development has moved to `eless.org`, I need to put down steps on how to contribute.

- Manually edit **only** `eless.org`.
- Use `org-babel-tangle` to output `eless` from that, and **not** to edit `eless` manually.
- Verify that `eless` still passes on https://www.shellcheck.net/.

## Bonus points

- Switch to `doc` branch.
- Fast forward the `eless.org` from `master`.
- Use `C-c C

[2017-05-04 06:56] kaushalmodi commented on #11
Done!

https://github.com/kaushalmodi/eless/blob/master/CONTRIBUTING.md

[2017-05-04 06:56] #11 closed

[2017-05-05 17:40] kaushalmodi commented on #10
Interesting.. I had "Resolves #thiscommitnumber", and that auto-closed this issue.

[2017-05-05 17:42] kaushalmodi commented on #10
@mandarvaze Update eless to the latest on master branch and try configuring it in `~/.emacs.d/elesscfg`.

[Documentation][1]

[1]: https://github.com/kaushalmodi/eless/wiki/Code-Explanation#user-config-override

[2017-05-09 21:13] kaushalmodi commented on #10
Closing the issue. Feel free to reopen if the solution didn't work.

[2017-05-09 21:13] #10 closed

[2017-05-12 03:50] kaushalmodi opened #12 "Auto-detect unified diff output too"
Let's say we have these files `a` and `b`.
[code]

At present, `diff-mode` is auto-enabled in this case:
[code]
Output:
[code]

But the [Unified Diff][1] is not auto-detected:
[code]
Output:
[code]

[1]: https://www.gnu.org/software/diffutils/manual/html_node/Example-Unified.html

[2017-05-12 04:04] kaushalmodi commented on #12
*May be also enable `whitespace-mode` in `diff-mode`.*

[2017-05-12 12:58] kaushalmodi commented on #12
Done in https://github.com/kaushalmodi/eless/commit/b747c8665ef9c32fe5f9e12e27173d42862f0105.

[2017-05-12 12:58] #12 closed

[2017-05-17 00:01] alphapapa opened #13 "Suggestion: cleaner debug code"
Hi again,

Just a suggestion you might want to consider.  There's a really cool technique for Bash scripts, which I've seen called a "collapsing function."  It's especially useful for optional debug output.  Here's an example:

[code]

Then to send debug output, you just do:
[code]
instead of having to do:
[code]
And by redefining or "collapsing" the function, it avoids the tests when debugging is

[2017-05-17 00:06] kaushalmodi commented on #13
This is awesome. Thanks! I didn't know this existed. Would you like to work on a PR for this?

[2017-05-17 00:51] alphapapa commented on #13
Ok, I pushed a branch here:  https://github.com/alphapapa/eless/tree/collapsing-debug

I tried to build it according to the instructions, but unfortunately I have several Org-export variables set differently, and this resulted in a lot of whitespace noise and other minor differences in the exported files.  It doesn't seem worth the time it would take for me to figure out which variables to change

[2017-05-17 03:20] #13 closed

[2017-05-17 03:24] kaushalmodi commented on #13
(It's a GitHub "feature".. The commit message had "Fixes Issue#", so it auto-closed this issue.)

Thanks for that commit! It did get rid of a lot of clutter from `eless`. I am now using this in all my future bash scripts (and past) :)

Ah, that sucks.. I will figure out how to resolve this so that org based project collaboration becomes easier. *May be I just need to have a look at your config for

[2017-05-17 03:26] kaushalmodi opened #14 "Set more org-* vars to make eless-build work for other people"
**Step 1** probably would be to make `M-x eless-build` workable from `emacs -Q`.

[2017-05-17 10:11] alphapapa commented on #13
Cool, thanks for fixing it up.  :)

[2017-05-18 17:45] kaushalmodi commented on #14
@alphapapa Would you like to update to the latest on master and try building using this [updated guide][1]?

[1]: https://github.com/kaushalmodi/eless/blob/master/CONTRIBUTING.org

[2017-05-18 17:46] kaushalmodi commented on #14
https://github.com/kaushalmodi/eless/commit/d6652101f6dbe424ab8b12826904382ff53e211b

[2017-05-19 01:53] alphapapa commented on #14
Well, I looked at these updated instructions:
[code]
If I may be completely honest, I feel like that's overkill for what's essentially a single-file project like this.  It's very cool, in a way, how you have integrated everything so that it builds from an single Org source file; this could be a very interesting example of what's possible with Org Babel.  But to ask a new contributor to go through

[2017-05-19 02:19] kaushalmodi commented on #14
I know :) That's very understandable. If I put myself in someone else's shoes, I wouldn't want to pollute my Customize-set variables from all the different projects I touch.

It's just that it's my first time using Org Babel to this serious level and it got too addictive.

That's because I chose to build the HTML documentation too.  Thinking about that, no one will read that in entirely as the sam

[2017-05-19 02:41] alphapapa commented on #14
Cool, yeah, again I'm quite impressed with how much you've done with Babel.  I wonder if the things you learn could be rolled into some kind of best-practices how-to for this sort of thing.

BTW, one other issue you might want to consider:  I had to fix indentation in source blocks manually, because some `if/else`s spanned multiple source blocks.  This required a sequence like 1) look at diff, cou

[2017-05-19 02:53] kaushalmodi commented on #14
I see the issue.  I should make those blocks as `noweb` blocks so that the noweb ref instance decides the indentation, and the code in the source blocks can be without any indentation (just as I did with the whole elisp code ([snippet][1]).  If that does not turn out to be an element implementation, then I guess it will be the option a) as you said.. to not split the `if/else` blocks,

or.. just a

[2017-05-19 02:56] kaushalmodi opened #15 "Don't hard-code the indentation in source blocks"
Don't do this:

[code]
Possible solutions:

- Insert all such blocks using noweb refs
- Do not split such `if/else` blocks across source blocks
- Auto-indent the whole `eless` script post-tangling

[2017-05-19 15:03] kaushalmodi opened #16 "Automate the build process using Makefile"
Inspiration: https://github.com/magit/magit/blob/master/Makefile

[2017-05-19 23:18] alphapapa commented on #14
I didn't know that was possible!  Very cool.

Also a good idea, similar to `aggressive-indent-mode`, which I really enjoy using.

That sounds like a very good idea.  I have that set to `2`, but it would be good to set it for consistency.

I understand what you mean!  Just yesterday I was looking at some code in one of my Emacs packages, and it had been so long that I forgot I had even written some

[2017-05-24 13:27] #15 closed

[2017-05-24 13:33] kaushalmodi opened #17 "Use read command instead of regular variable assignment"
This would allow the use of back-quotes and single quotes (and everything in general) without needing to use escapes for constructing the whole emacs config blob.

Reference: http://crowding.github.io/blog/2014/08/16/replace-less-with-emacs/

[2018-02-13 17:38] mobyte0 opened #18 "Not able to pipe into eless"
OS: MacOS 10.12.6
Shell: fish 2.5.0/bash 4.4.0(1)-release
[code]
A GUI emacs opens without anything in it.
[code]

[2018-02-13 18:53] kaushalmodi commented on #18
Hello,

Using the same `echo 'test' | ./eless -D`, I get:

[code]

So based on the

messages you get, it looks like the macOS grep does not support `-P`!

It's failing for [each of these grep checks][1]!

I am using the old (2009) **GNU grep 2.6.3** that came with RHEL 6.6..

Can you get GNU grep on your machine too?

---

We can tackle this later once the `grep` issue is resolved. For me, `emacs

[2018-02-13 18:59] kaushalmodi commented on #18
@mobyte0 Can you try installing GNU grep using [these instructions][1]. I don't have macOS on any machine, so I'll have trust stackexchange and your feedback :)

[1]: https://apple.stackexchange.com/a/193300

[2018-02-13 19:03] mobyte0 commented on #18
I have successfully installed GNU grep on Homebrew and I'm on version 3.1. I would recommend listing the needed version of grep in the requirements.

While I'm not getting the grep errors anymore, the empty GUI emacs opens again.

[code]

[2018-02-13 19:11] kaushalmodi commented on #18
Thanks for the followup.

Of course, I will do that now. You are probably the first macOS user without GNU grep who tried this.. that's all :)

Alright.. so let's debug this.. Let me think more about it and get back to you.

[2018-02-13 19:13] mobyte0 commented on #18
Yeah, the base is BSD grep 2.5.1, so perhaps this could effect many BSD users?

[2018-02-13 19:40] kaushalmodi commented on #18
Looks like we have a different variant of `mktemp` as well..

Compare the `mktemp` file debug output I get:

vs yours:

So one thing is obvious.. the `--tmpdir` arg was not respected on your system. I am using that arg to specifically tell `mktemp` to create the temp-file in `/tmp`.

But looks like, on your system, it literally created `emacs-stdin-rob.xLsUAB7` and `--tmpdir`. **Sorry about that.*

[2018-02-13 19:41] kaushalmodi commented on #18
@mobyte0 What is your `mktemp` version? I once again have the GNU version:

[2018-02-13 19:47] kaushalmodi commented on #18
Does this work on your system:

[code]

[2018-02-13 20:06] kaushalmodi commented on #18
@mobyte0 Do you want to update to the latest `master` and try again?

[2018-02-13 20:45] mobyte0 commented on #18
Alright, it's working. I pulled your new commit and by using GNU coreutils in place of the stock BSD utils (I followed the guidance here: https://apple.stackexchange.com/a/69332), the pipe echo into eless is now working.

Thank you so much for your help!

[2018-02-13 20:52] kaushalmodi commented on #18
`eless` should work as long as `bash` is in user's `$PATH`.. the user doesn't necessarily need to run `eless` inside `bash`. *I have to use `tcsh` at work.. my default shell is unfortunately that, but `eless` works fine.*

[2018-02-13 20:54] mobyte0 commented on #18
`fish` has an odd way of dealing with search paths and variables if you are unfamiliar with it. It uses something called `set` which is explained more here: https://fishshell.com/docs/current/commands.html#set.

[2018-02-13 20:56] kaushalmodi commented on #18
Hmm.. haven't used `fish`.. but can you come up with a brief description of what `fish` users need to do.. something that I can add [here][1]?

[1]: https://github.com/kaushalmodi/eless#requirements

[2018-02-13 20:58] mobyte0 commented on #18
Well, technically, as long as eless is put somewhere in your standard search path (whether it's a symlink or whatnot), all is good. I just decided to put it in my home search path as a symlink, so maybe I'm just overthinking it.

[2018-02-13 21:04] kaushalmodi commented on #18
Great! I'll anyways update Requirements to mention that `bash` needs to be in `PATH`. That section can grow as per feedback from other users.

Thanks for sticking through the debug.

[2018-02-13 21:04] #18 closed

[2018-02-13 21:07] mobyte0 commented on #18
However, when using `fish`, the example you listed of `PAGER=eless man grep` will not work and instead has to be set with something along the lines of `set -U PAGER eless` (I think, I'm still researching this). When doing that, opening something such as `man ls` will show text saying `This script is not supposed to sent output to a pipe`. Perhaps this should go into another issue?

Also, thanks fo

[2018-02-13 21:10] kaushalmodi commented on #18
Yes, please.. with the `-D` output too.

Can you also try setting `PAGER` env var permanently to `eless` (has worked well for me for the last 10 months or so.. since the first release of `eless`)? Do you still get that problem? We can continue this in the new issue you open.

[2018-02-13 22:28] sshaw commented on #18
Interesting. Can you elaborate?

[2018-02-13 22:34] kaushalmodi opened #19 "Don't use grep -P"
Copied https://github.com/kaushalmodi/eless/issues/18#issuecomment-365426688 by @sshaw below verbatim:

---

If adaptation is a goal, I would not require GNU grep and would use an alternate approach.
It seems as though you're using `-P` just for regex lookahead.

There are alternatives (untested 😄):

[code]

Can be:

[code]

Or instead of using Perl regexes (`-P`), just use perl:

[code]

It's lik

[2018-02-13 22:35] kaushalmodi commented on #18
Continuing this here: https://github.com/kaushalmodi/eless/issues/19

We use a lot of 3rd party vendor tools that are tested to work well with env setup for tcsh.. and legacy.

[2018-02-13 22:37] sshaw opened #20 "Cleanup Temp File Via trap"
I had issues RE #18. When investigating I noticed that the cleanup assumes the script will reach the end. Even without #18 this isn't always the case, i.e., signals. You should so this instead:

[code]

Though I'd also stuff that into the temp directory.

Note that I would have sent a PR, but [the instructions for building](https://github.com/kaushalmodi/eless/blob/308c6e76d0935c887087f2a6ec5a7433

[2018-02-13 22:39] kaushalmodi commented on #19
That's interesting.. didn't think of that.

I believe it's more canonical to use `grep -E` instead of `egrep`? In any case, I first became a fan of `grep -E` (and `sed -r`) and then `grep -P`.

I'll have to find some time to research replacing the `grep -P` and `sed -r`.

Thanks for all that info.

[2018-02-13 22:41] kaushalmodi commented on #20
Please send a PR.. as we are speaking.. I am working on https://github.com/kaushalmodi/eless/issues/16 :D

I'll ping here once done.

[2018-02-13 22:42] kaushalmodi commented on #20
btw.. `trap` is not available on my system now :P

[2018-02-13 22:42] sshaw commented on #19
Not sure.

[2018-02-13 22:44] kaushalmodi commented on #19
Oh well, from `man grep` (of course GNU grep):

[2018-02-13 22:46] kaushalmodi commented on #14
This issue will auto-resolve once https://github.com/kaushalmodi/eless/issues/16 is done.

[2018-02-13 22:46] #14 closed

[2018-02-13 22:53] sshaw opened #21 "Make eless run on emacs 22.1"
Given that this is a shell command, I would not rely on users:

1. Being Emacs users
1. Having a modern version of emacs on their system or one named "emacs" in their path

In my case OS X ships with Emacs 22, which does not support these functions (I think only versions greater that 24.4 do?).

I think `eval-after-load` and `string-match` would suffice.

Also, I usually download Emacs from [here]

[2018-02-13 23:00] sshaw commented on #20
Signal handling for bash scripts:

[code]

[2018-02-13 23:29] #16 closed

[2018-02-13 23:31] kaushalmodi commented on #20
Can you pull the latest master and try below?

[code]

By default, EMACS is `emacs`.

[2018-02-13 23:50] kaushalmodi opened #22 "Get emacs binary name from an env var"
May be use the env var `$EMACS`, which defaults to `emacs`.

[2018-02-13 23:52] kaushalmodi commented on #21
That's a bit odd, but in any case, I have opened https://github.com/kaushalmodi/eless/issues/22. Should be easy to implement.

[2018-02-14 03:06] kaushalmodi commented on #21
You are correct. I have made that change. Please try the latest master.

[2018-02-14 04:35] kaushalmodi commented on #22
Based on your comment in the other thread:

Wouldn't it be simple to just symlink `emacs` to `Emacs`?

Adding an environment variable will add unnecessary code to the script.. and you anyways will have to set that env var. In addition, reserving an environment variable just for this purpose doesn't seem right.

In summary, for a user with emacs binary named `Emacs`, some user action is required:
-

[2018-02-14 04:57] kaushalmodi commented on #20
I might need your help here.. I cannot get the `trap` to work.. added this at the end of the script:

[code]

- "here1", "here2" never get echoed.. it's as if the script just aborts after the `eval "$cmd"`.

[2018-02-14 05:50] kaushalmodi commented on #20
Hello @iqbalansari. Sorry to suddenly drag you into this conversation, especially when you need to go down your memory lane back in April 2017..

Removing `exec` makes `trap` work (discussion above).. and also `eless` works fine as before for various use cases.

I see that `exec` was added in this commit: https://github.com/kaushalmodi/eless/commit/943a513187d4f21622375d669dd20824f2458c00

Do you

[2018-02-14 05:57] kaushalmodi commented on #20
The `trap` based cleanup is added to the [`its-a-trap`][1] branch.

@sshaw Do you want to try that out?

@iqbalansari If you too don't mind, can you try out this branch and see what could go wrong now that I call `emacs` directly in that instead of doing `exec emacs ..`?

[1]: https://github.com/kaushalmodi/eless/tree/its-a-trap

[2018-02-14 09:35] iqbalansari commented on #20
Hi @kaushalmodi,

I had to add the `exec` call because without that it seems that piping to `eless` was failing, I will try the `its-a-trap` branch (nice name 😉 ) and report back

Thanks

[2018-02-14 14:01] sshaw commented on #21
Currently I get an `Invalid regex: "Invalid regular expression"` error. But, this is  with system emacs 22 (OS X 10.9.5). Not clear what the source is.

I have a more recent version of OS X (well, "macOS") that I will try with later today.

[2018-02-14 15:12] kaushalmodi opened #23 "Replace sed -r s/foo/bar/I with BSD compatible equivalent"
From https://github.com/kaushalmodi/eless/issues/18#issuecomment-365426688:

[2018-02-14 15:20] kaushalmodi opened #24 "Fix building using "make all" on macOS"
@sshaw

The "eless build requirements" are higher than "eless run requirements".

For future plans like auto-publishing `eless` documentation site using `ox-hugo`, the minimum requirement for building eless script and documentation is emacs 24.4.. Couple of reasons:
- I use Org `master` (9.2.x), but can make sure that builds work fine on latest Org stable (9.1.x) too.. Minimum requirement for Org

[2018-02-14 15:22] kaushalmodi commented on #20
Opened https://github.com/kaushalmodi/eless/issues/24 for this.

I agree. Let me know if symlinking approach works for you; then https://github.com/kaushalmodi/eless/issues/22 can be closed.

Thanks for confirming! I am now tracking `sed` with `/I` issue ( https://github.com/kaushalmodi/eless/issues/23 ) and `grep -P` issue ( https://github.com/kaushalmodi/eless/issues/19 ) separately.

[2018-02-14 15:23] kaushalmodi commented on #20
So once @iqbalansari confirms that removing `exec` doesn't break anything on his side, I will merge this branch and close this issue.

[2018-02-14 16:22] kaushalmodi commented on #23
@sshaw Can you try from the latest master.. the `sed` issue should at least be fixed.

[2018-02-14 17:15] iqbalansari commented on #20
I can confirm that this is working me 👍

[2018-02-14 17:29] #20 closed

[2018-02-14 17:30] kaushalmodi commented on #20
Thanks @iqbalansari. Latest master is a trap now.

[2018-02-14 17:36] kaushalmodi opened #25 "Invalid regex: "Invalid regular expression" error on macOS"
From https://github.com/kaushalmodi/eless/issues/21#issuecomment-365615480 by @sshaw:

[2018-02-14 17:37] kaushalmodi commented on #21
Let's continue the discussion for this here: https://github.com/kaushalmodi/eless/issues/25.

Once **just running** `eless` (not building [[Requirements][1]]) works on emacs 23 for you, we can close this issue.

[1]: https://eless.scripter.co/#requirements

[2018-02-14 18:16] kaushalmodi commented on #25
This looks like some `grep -P` regex not working on macOS?

The fact that it says *regex* but not *regexp* means that emacs did not issue that error.

Also, what style of `eless` invocation caused that error?

.. and terminal dump on using the [`-D` switch][1]?

Thanks for your efforts in helping make this project macOS compatible!

[1]: https://eless.scripter.co/#how-to-help-debug

[2018-02-14 20:35] kaushalmodi opened #26 "Test various eless usage scenarios on Travis"
Need to test most (if not all) [`eless` usage scenarios][1] on Travis.

[1]: https://eless.scripter.co/#try-it-out

[2018-02-14 21:33] mobyte0 opened #27 "man pages are not readable on macOS"
*(This top portion is edited by @kaushalmodi)*

### Workaround

Due to the way `man` handles the man page caching and streaming on macOS systems, `PAGER=eless man ls` does not work there.

But `PAGER=less man ls | eless` works! See https://github.com/kaushalmodi/eless/issues/27#issuecomment-367764021 for details.

*(The original post now follows below.)*

---

Mentioned this issue in [#18](https:/

[2018-02-14 21:40] kaushalmodi commented on #27
Hmm, for the same `man ls | eless -D` (I also have `PAGER` set to `eless`), I get:

[code]

[2018-02-14 21:41] kaushalmodi commented on #27
So, you *Pipe Contents* are different.. will need to investigate..

[2018-02-14 21:41] mobyte0 commented on #27
Just tested this on bash, it worked, so this seems to be a shell-specific issue. I'll look into this a bit as well.

[2018-02-14 21:42] kaushalmodi commented on #27
Phew! :)

Thank you!

[2018-02-14 21:43] mobyte0 commented on #27
Here is some documentation incase any other fish users want to look at this issue: https://fishshell.com/docs/current/tutorial.html#tut_pipes_and_redirections.

[2018-02-14 21:45] mobyte0 commented on #27
So here's what I found: https://stackoverflow.com/a/37531498/7873568

The command `man ls ^&1 | eless` is functional, but I'd like to just use `eless` as a pager and just be able to do `man ls` while `eless` is set to `$PAGER`.

[2018-02-14 21:46] kaushalmodi commented on #27
Do you want to hack the `eless` script yourself to figure this out.. I don't have `fish` installed.

My best guess is that `cat` isn't doing the same thing on `fish` that it's doing on `bash` and `tcsh`.

[This line][1] -- It's where `$piped_data` gets assigned for the `man` page case i.e. "--> Input from pipe/file".

[1]: https://github.com/kaushalmodi/eless/blob/5cde4c6872fb7257045be9da09461ab1a

[2018-02-14 21:49] mobyte0 commented on #27
Of course the quick and easy way would be to check `$SHELL` but there must be a more elegant way to do it. I'll take a look.

[2018-02-14 21:54] kaushalmodi commented on #27
Something is very confusing..

You got this printed:

[code]

then the `output_to_pipe_flag` variable should be 0.

So this `if` block is not entered:

[code]

.. then why is that echo message leaking into the pipeline_data?:

[code]

Odd..

[2018-02-14 22:00] mobyte0 commented on #27
Did some testing:
[code]

I think fish is supposed to properly recognize the shebang `#!/usr/bin/env bash` but I'm not sure.

[2018-02-14 22:06] kaushalmodi commented on #27
which variable is being used as command (which command?).. We are just checking if a FOO variable is 1.

[2018-02-14 22:14] kaushalmodi commented on #27
Do you want to see if a change like this in the whole script fixes this for you?

[code]

If so, please provide a PR, and I will try it out on my side.

[2018-02-14 22:17] kaushalmodi commented on #27
Alternatively, see if

[code]

(`[`/`]` instead of `[[`/`]]`)

does the same thing i.e. fixes this issue for you.

[2018-02-14 22:18] mobyte0 commented on #27
[This worked!](https://github.com/kaushalmodi/eless/issues/27#issuecomment-365762840)

I'll test the single square bracket one now.

[2018-02-14 22:19] mobyte0 commented on #27
Single square bracket test was functional as well.

[2018-02-14 22:22] kaushalmodi commented on #27
Though, now the `-D` output should be different, isn't it?

[2018-02-14 22:23] mobyte0 commented on #27
Nope, my `bash` is just plain old GNU `bash`, lol.

How would you propose I enable debugging when just using something like `man ls`?

[2018-02-14 22:24] mobyte0 commented on #27
Now that I think about it, let me set `PAGER` to `eless -D`.

[2018-02-14 22:24] kaushalmodi commented on #27
Yup, you got it .. also: https://eless.scripter.co/#how-to-help-debug :)

[2018-02-14 22:25] mobyte0 commented on #27
Got a different output this time inside the `eless` session.
[code]
And the debug output:
[code]

[2018-02-14 22:28] kaushalmodi commented on #27
Hmm.. compared to my debug output ( https://github.com/kaushalmodi/eless/issues/27#issuecomment-365753784 ), your output now looks the same, except of course the Temp File.

But you still are getting "This script is not supposed to send output to a pipe" from an if block that should not be executed..

Do you have any `[[ .. ]]` remaining to be replaced with `[ .. ]` by any chance?

[2018-02-14 22:31] mobyte0 commented on #27
Replaced all of the `[[ .. ]]` with `[ .. ]`, essentially got the same output.

[2018-02-14 22:35] kaushalmodi commented on #27
*Still wondering why that if block is getting executed..*

But in any case, I can only guess.. `fish` probably doesn't [like this][1]:

[code]

[1]: https://github.com/kaushalmodi/eless/blob/5cde4c6872fb7257045be9da09461ab1a0efe767/eless#L490

[2018-02-14 22:52] kaushalmodi commented on #27
Alright.. so I just cloned the `fish-shell` repo, built it, ran `./fish`.. and.. `man ls` works just fine.

What is your `fish` version, do you want to try the version from its master branch?

**Proof**

![fish-eless](https://user-images.githubusercontent.com/3578197/36232417-b83e5b3a-11af-11e8-9a2c-2346bcec6222.gif)

[2018-02-14 23:15] mobyte0 commented on #27
Just tried the master version of `fish`, same results:
[![asciicast](https://asciinema.org/a/vTKEBDE8EllkDJmzc1cb81czw.png)](https://asciinema.org/a/vTKEBDE8EllkDJmzc1cb81czw)

[2018-02-14 23:25] kaushalmodi commented on #27
@mobyte0 One last thing.. :) Can you move your fish config file.. I see that you have some fish customization.. (when I compare to how my prompt looked). May be you have some fish config var set in a way that causes this issue?

[2018-02-14 23:25] sshaw commented on #24
[code]
[code]

[2018-02-14 23:29] kaushalmodi commented on #24
Thanks. Do you want to hack `build/setup-eless.el` locally and see if forcing http instead of https helps?

[These lines][1]

[1]: https://github.com/kaushalmodi/eless/blob/9b83a2643c503ec73250960038a3cd7c17c92bcb/build/setup-eless.el#L109-L117

[2018-02-14 23:31] kaushalmodi commented on #24
Or may be launch `Emacs -Q` and manually eval the sexps in that setup file responsible for downloading those packages? I don't have a clue why the basic package installation would fail.. That package installation happens every time on Netlify each time https://eless.scripter.co/ deploys.

[2018-02-14 23:32] kaushalmodi commented on #24
.. and [here's the package installation on emacs 25.3 on Travis][1].. so what is so OS specific in that setup file ..

[1]: https://travis-ci.org/kaushalmodi/eless/jobs/341672602

[2018-02-14 23:35] mobyte0 commented on #27
Well, now I'm even more confused. I'm not really sure why `less` opened here...

[![asciicast](https://asciinema.org/a/MATsv5ev16Pb51iLy5iT6cqxe.png)](https://asciinema.org/a/MATsv5ev16Pb51iLy5iT6cqxe)

[2018-02-14 23:38] sshaw commented on #23
Working!

[2018-02-14 23:38] sshaw commented on #25
No, but yes. I mentioned in an earlier issues (#18?) that `-P` is a GNU grep extension and that `perl` can be used instead (example was given in issue).

It was an emacs error. I typed it instead of copying. It does indeed say "regexp".

`ls | eless`

[2018-02-14 23:43] sshaw commented on #25
When I use latest master with Emacs 25, it appears to work (well, at least when compared to other issues).

The other Apple box I have is running 10.12.3. It ships with emacs 22.1 as well.

So I would say that if you want to support macOS for non emacs users, i.e., folks that don't want to install emacs to use a command-line program, target that.

Using latest master I get the following errors wit

[2018-02-14 23:45] #23 closed

[2018-02-14 23:56] sshaw commented on #25
`Symbol's function definition is void: locate-user-emacs-file` is cause by `eless` using system emacs to load one of my config files.

[2018-02-15 00:03] kaushalmodi commented on #25
But I am using `emacs -Q` in the script.. *Does the system emacs recognize `-Q`?*

[2018-02-15 00:08] sshaw commented on #24
Found the problem: `network-security-level` was set to `medium`. This prompts one before connections are made. Setting this to `low` [here](https://github.com/kaushalmodi/eless/blob/9b83a2643c503ec73250960038a3cd7c17c92bcb/Makefile#L83) fixed it.

Not sure if there are other solutions.

[2018-02-15 00:10] kaushalmodi commented on #24
Interesting.. so you are prompted each time you install/upgrade a package?

[2018-02-15 00:12] sshaw commented on #25
Heh, yes `-Q` is does recognize. It's just like emacs -only older!

So it's not my `~/.emacs`. Here's what `*Messages*` show:

[code]

You should see this on Linux with emacs 22.

[2018-02-15 00:14] kaushalmodi commented on #25
Oh boy, [`-Q` got added in 22.1][1]. It doesn't seem worth the time to deal with Emacs older than that.

What's the command to install the latest stable Emacs on macOS? I can just mention that in requirements. If someone is not willing to do that, there's always `less` ;-)

[1]: http://git.savannah.gnu.org/cgit/emacs.git/tree/etc/NEWS.22?h=emacs-26#n413

[2018-02-15 00:14] sshaw commented on #24
I use Cask so my installing is done outside emacs. In the cases when I do inside installing it's done via Try and yes, I'm prompted.

[2018-02-15 00:15] sshaw commented on #24
Well, I prompted for the host if I haven't been prompted in sometime. Not sure what that is. Seems to be weeks.

[2018-02-15 00:16] sshaw commented on #25
You're in luck: that's the version that is shipped with macOS.

[2018-02-15 00:18] kaushalmodi commented on #25
Cool, I'll fix the l-u-e-f tomorrow.

[2018-02-15 12:32] kaushalmodi commented on #27
That would only happen if your `PAGER` environment variable setting didn't stay effective.

Intially that variable was empty and then you use `set` to set it. In bash/tcsh, there are different methods to set a variable locally vs globally.. like set vs export, set vs setenv.. Are you using the fish equivalent of setenv?

[2018-02-15 12:34] kaushalmodi commented on #27
May be use `set -x`: http://fishshell.com/docs/current/commands.html#set

[2018-02-15 15:36] kaushalmodi commented on #25
The latest master should now fix `load: Symbol's function definition is void: locate-user-emacs-file` for you.

Sorry, I don't have emacs 22.1 to test on my machine (or [here][1]). So it will be great if you can test these fixes for 22.1 compatibility. The best I can do is to grep all the old NEWS files to ensure that I don't introduce something that got added after 22.1.

---

Assuming this is fi

[2018-02-15 15:47] kaushalmodi commented on #24
The default value of this variable (which got introduced in emacs 25.1) is `'medium`, and it works fine i.e. I don't get any extra prompt on RHEL 6.6 (or any GNU Linux image on Gitlab Pages/Netlify/Travis). So it's likely that there's something special with macOS?

Let me create a trial branch where I set that var to low only if the OS is macOS.

[1]: https://github.com/kaushalmodi/eless/blob/9b83

[2018-02-15 15:54] kaushalmodi commented on #24
Please try this branch: https://github.com/kaushalmodi/eless/tree/macOS-lower-network-security

[2018-02-15 16:05] kaushalmodi commented on #19
I'll need to spend some time understanding how to convert `grep -Po ..` expressions to `perl -ne ..`.

Help me out if you already have the answer :)

[code]

Need to figure out out to make `perl` return only the stuff **after `\K** and **before `(?= .. )`** (that's what the `-o` in `grep` does.. and the `-P` makes it understand `\K` and look-ahead).

[2018-02-15 16:20] kaushalmodi commented on #19
OK, this worked:

[code]

[2018-02-15 16:57] kaushalmodi commented on #19
Please test the [`replace-grep-with-perl`][1] branch.

[1]: https://github.com/kaushalmodi/eless/tree/replace-grep-with-perl

[2018-02-15 16:58] mobyte0 commented on #27
Alright. Default empty config works when I do `set -uX PAGER ~/bin/eless` so obviously something is wrong with my config..

*However*, I'm getting weird return codes when opening a `man` page (unlike your test):
<img width="609" alt="screen shot 2018-02-15 at 11 56 22 am" src="https://user-images.githubusercontent.com/8704870/36269492-56848868-1247-11e8-90c5-e6243f123120.png">

Thoughts?

[2018-02-15 17:01] kaushalmodi commented on #27
Thanks for the update.. it should be easy now.. just bisect your fish config (as you would an emacs config) :)

Now **this** I can fix :D

Please paste the `-D` dump (after setting `PAGER` to `~/bin/eless -D`.

[2018-02-15 17:03] mobyte0 commented on #27
Here you go:
[code]

[2018-02-15 17:04] kaushalmodi commented on #27
This was easy (*why does BSD do everything differently??*).

[code]

It fails the man page regex as there's a newline before `LS(1) ..`. If you see https://github.com/kaushalmodi/eless/issues/27#issuecomment-365753784, I get:

[code]

[2018-02-15 17:32] kaushalmodi commented on #27
Please test the [`replace-grep-with-perl`][1] branch.

[1]: https://github.com/kaushalmodi/eless/tree/replace-grep-with-perl

[2018-02-15 18:15] mobyte0 commented on #27
Now back to the original problem, lol.

[![asciicast](https://asciinema.org/a/TLFmiXq5y8zxOZdRsnPhamivD.png)](https://asciinema.org/a/TLFmiXq5y8zxOZdRsnPhamivD)

[2018-02-15 18:25] mobyte0 commented on #27
<img width="605" alt="screen shot 2018-02-15 at 1 24 40 pm" src="https://user-images.githubusercontent.com/8704870/36273783-a8a61722-1253-11e8-99fc-291c3ea1c654.png">

Your guess is as good as mine.

[2018-02-15 18:35] kaushalmodi commented on #27
The grep output in your last screenshot looks good.

I was wondering why you had the `[[ .. ]]` replaced as seen in the screencast before that (in https://github.com/kaushalmodi/eless/issues/27#issuecomment-366014700 ).

**So you are seeing *"This script is not supposed to send output to a pipe"* even on `replace-grep-with-perl`?**

If so, I am now out of ideas.. do you want to reach out for help

[2018-02-15 18:38] mobyte0 commented on #27
It was just a guess since it seemed to fix the piping problem [here](https://github.com/kaushalmodi/eless/issues/27#issuecomment-365763627).

Also, yeah it's probably time to just chalk this one up to `fish` being weird, lol. Thanks for the effort in trying to help debug this problem with my dumb niche shell, anyway. Maybe I should stop being lazy and switch over to `zsh`...

[2018-02-15 18:41] kaushalmodi commented on #27
Huh?

Let's see if @sshaw can also recreate the issue you see on `man ls`.. he's also using macOS. I don't have access to any macOS machine.. so cannot help you with that.

I have tested `man ls` with `PAGER` set to `eless` to work in these combinations:

- RHEL 6.6 + tcsh
- RHEL 6.6 + bash
- RHEL 6.6 + fish

Emacs 26.0.91.

[2018-02-15 18:43] kaushalmodi commented on #27
@mobyte0 If you have time, put `debug "here0"`, `debug "here1"`, .. so on in **all** the if/else block in the `eless` script, and share the modified script as well as the output of `man ls` with `PAGER` set to `eless -D`.

[2018-02-15 18:53] mobyte0 commented on #27
Do you want that in all of the functions?

[2018-02-15 18:56] kaushalmodi commented on #27
Yes, I will be just easier to see everything in one go, rather than incrementally adding those debug statements based on our back and forth here. *Good time to practice counters in macros ;-)*

[2018-02-15 18:58] kaushalmodi commented on #27
**not in the elisp portion, only the bash portion**

[2018-02-15 18:58] mobyte0 commented on #27
I bet there's a scriptable way to do this, I'll reply later.

[2018-02-16 01:26] sshaw commented on #25
[code]

It's the `(?1 ...)` part.

Suggestion: when one calls `eless -D`, you should set `(setq debug-on-error t)`.

[2018-02-16 01:29] sshaw commented on #24
That branch works.

On OS X is may be due to the cert store not containing the CA's cert.

[2018-02-16 01:35] sshaw commented on #19
Working!

Note that `$3` does not need to be quoted.

You also can use non-capturing parenthesis around the groups you don't want to capture, then use `print $1`:

[code]

Just an FYI.

[2018-02-16 02:58] #19 closed

[2018-02-16 02:59] kaushalmodi commented on #19
Thanks, of course. Completely forgot that elisp regexp is not the only place you could do that :)

[2018-02-16 03:06] kaushalmodi commented on #25
Good point. Will do that.

Thank you.

[2018-02-16 03:10] kaushalmodi commented on #25
Thanks, that feature was added in 23.1; from NEWS.23:

Luckily I had added that bit just for clarity; removing it, the code will still function the same.

[2018-02-16 03:12] #25 closed

[2018-02-16 03:13] kaushalmodi commented on #25
Please try the latest master.

[2018-02-16 03:16] #24 closed

[2018-02-16 03:16] kaushalmodi commented on #24
This too merged into master.

[2018-02-16 03:17] kaushalmodi commented on #21
@sshaw I'll close this issue once you confirm that `eless` runs fine on emacs 22.1.

[2018-02-16 03:52] #22 closed

[2018-02-16 03:52] #26 closed

[2018-02-16 04:06] kaushalmodi commented on #22
You can now set the env var `EMACS` to your emacs binary name or path, and `eless` (and `make test`) will use that.

[2018-02-16 04:12] sshaw commented on #21
Working here too. Very nice. 🎉

One thing I did notice (unrelated) are broken pipe errors from [this](https://github.com/kaushalmodi/eless/blob/8a3ec9ad7241817b419888d9a6a82fa753df4a23/eless#L232), which is always ran.

[2018-02-16 04:14] kaushalmodi commented on #21
I didn't follow. What do they looks like? How to reproduce?

[2018-02-16 04:32] kaushalmodi commented on #25
Done!

[2018-02-16 04:35] sshaw commented on #21
From the eless repo run:
[code]

Then quit and you'll see:

[code]

This is because `$(echo "${piped_data}" | head -n 10)` will run. Since `head` is closing the pipe after 10 lines `echo` complains.

Fix is easy:

[code]

But instead of loading a possibly very big string into a variable when piped (and defeating some of the purpose of a pipe), why not just `cat` to file immediately? There's no nee

[2018-02-16 04:44] kaushalmodi commented on #21
I did as you suggested, hit `q`, but I don't see any error.

![no-broken-pipe](https://user-images.githubusercontent.com/3578197/36293818-2766fb3e-12aa-11e8-97a7-14d97d9e6170.gif)

[2018-02-16 04:46] kaushalmodi commented on #21
.. no error on both bash and tcsh.

[2018-02-16 04:48] kaushalmodi commented on #21
That shouldn't get executed under normal conditions.. gets executed only if `-D` switch is used.

So I tried using the `-D` switch, but even then.. no error.

[2018-02-16 04:55] sshaw commented on #21
It does get executed. The string is interpolated which runs the subshell. This is then passed to `debug` which only _chooses_ to print if `-D` was given.

GNU/Linux has different versions of `head` and Bash so this can be why you're not seeing the error.

[2018-02-16 04:59] kaushalmodi commented on #21
Ah, ok. Also the GNU/BSD issue is still not gone :P

You suggestion makes a lot of sense.. will work on fixing this. Thanks!

[2018-02-16 05:02] kaushalmodi commented on #21
I have never used `cat` to assign to file. What's the syntax? SO doesn't help.

[2018-02-16 05:13] kaushalmodi commented on #21
I have this fix on https://github.com/kaushalmodi/eless/tree/direct-cat-to-tempfile branch.. but `make test` freezes locally for me with that commit, though your git log example works.

[2018-02-16 05:33] kaushalmodi commented on #21
Test the master now.

[2018-02-16 05:47] sshaw commented on #21
👍

[2018-02-16 05:56] #21 closed

[2018-02-21 18:13] nasyxx commented on #27
I seem to have this problem, but I use zsh.

`This script is not supposed to send output to a pipe` displayed in `eless`.

[code]

[2018-02-21 18:21] kaushalmodi commented on #27
OK, so the issue seems to be specific to macOS/BSD systems. Would you have time to provide a thorough debug output as I mention in https://github.com/kaushalmodi/eless/issues/27#issuecomment-366022420 .. It's impossible for me to help more without understanding which `if` clauses are executed using the default GNU bash on BSD systems..

- Can you paste the output of `bash --version`? I get `GNU ba

[2018-02-21 18:27] nasyxx commented on #27
Of course, I will try it tomorrow.

On Thu, Feb 22, 2018 at 2:21 AM Kaushal Modi <notifications@github.com>
wrote:

--
Nasy

[2018-02-21 18:35] sshaw commented on #27
Sorry, missed this. `man ls | eless` works for me under Bash and zsh. Let me know if you need me to do something else.

[2018-02-21 18:41] kaushalmodi commented on #27
No problem. Can you report your bash version?

I don't know what else to target, as I am unable to reproduce this issue.

[2018-02-21 23:44] sshaw commented on #27
I tried with 3.2 (default) and 4.4. Worked.

The issues is `man ls | eless` is mangled? There's a lot of commentary here, I didn't read it all.

[2018-02-21 23:52] kaushalmodi commented on #27
What do you mean by mangled? A screenshot or screencast would help, and the debug info too!

[This is how `man ls` looks to me][1] after setting `PAGER` to `eless`.

[1]: https://user-images.githubusercontent.com/3578197/36232417-b83e5b3a-11af-11e8-9a2c-2346bcec6222.gif

[2018-02-22 00:07] sshaw commented on #27
It wasn't mangled for me. I was asking if that was indeed the issue.

[2018-02-22 00:12] kaushalmodi commented on #27
Ah, OK, sorry, I misunderstood. The issue is the @mobyte0 is seeing this error instead of the man page: https://github.com/kaushalmodi/eless/issues/27#issuecomment-366017460

What's perplexing is that that error is printing from the if clause that should never have been accessed for the `man ls` case.

[2018-02-22 01:43] sshaw commented on #27
Okay. I do have that problem (`PAGER=eless man ls`)

From the `CAT PAGES` section of `man(1)`:

       these pages are needed.  Traditionally, formatted versions of pages in  DIR/manX  are  saved  in
       DIR/catX,  but other mappings from man dir to cat dir can be specified in /private/etc/man.conf.
       No cat pages are saved when the required cat directory does not exist.  No cat pages  are

[2018-02-22 03:24] kaushalmodi opened #28 "Support Perl man pages"
From https://github.com/kaushalmodi/eless/issues/27#issuecomment-367539275 by @sshaw.

[2018-02-22 04:26] nasyxx commented on #27
Hi, my bash version shows below.

[code]

I also have tried 4.4, but still failed.

Other than that, when I use

```PAGER=less man ls | eless```

everything is okay, however, when I use

```PAGER=most man ls | eless```

"`This script is not supposed to send output to a pipe`" displayed as `PAGER=eless man ls` did.

[2018-02-22 15:48] kaushalmodi commented on #28
@sshaw Do you want to try out the latest master to test if at least `man Net::FTP` works fine now. Also mention the Tk man pages that did not work for you.. I don't use those, so might need to add tweaks for those too.

[2018-02-22 15:50] kaushalmodi commented on #27
@sshaw @mobyte0 @nasyxx Do you want to try this out:

Does the issue go away if you disable man page caching?

[2018-02-22 15:54] kaushalmodi commented on #27
@nasyxx

@sshaw @mobyte0 @nasyxx So are these 2 statements correct for the `man` binary on your systems:

- `PAGER=less man ls | eless` **works**
- `PAGER=eless man ls` **does not** work

Alright, things have anyways got complicated.. so let's leave `most` out of this for now.. may be a separate issue once this gets resolved :)

[2018-02-22 16:42] nasyxx commented on #27
Hi, I added `NOCACHE` to the end of `man.conf`,

<img width="298" alt="screen shot 2018-02-23 at 12 28 59 am" src="https://user-images.githubusercontent.com/5007613/36550647-ba37e4ba-1830-11e8-9c65-298b58308719.png">

but it still does not work.

When I run `PAGER=eless man Net::FTP`, the result is the same as @sshaw 's, mangled characters.

<img width="850" alt="screen shot 2018-02-23 at 12 35 13

[2018-02-22 16:46] kaushalmodi commented on #27
I fixed the "mangled characters" issue today morning.. please update to the latest master. The mangled characters are actually ascii color codes that the reader should interpret (like man mode in Emacs, or the man binary).

[2018-02-22 16:49] kaushalmodi commented on #27
And I get this on doing `PAGER=eless man -d Net::FTP`:

[code]

That last bit:

[code]

is quite different on my system.

[2018-02-22 16:53] nasyxx commented on #27
Well, now, it does not work again.

<img width="551" alt="screen shot 2018-02-23 at 12 51 19 am" src="https://user-images.githubusercontent.com/5007613/36552025-e453f42a-1833-11e8-8306-2abfa5481a9a.png">

<img width="456" alt="screen shot 2018-02-23 at 12 51 09 am" src="https://user-images.githubusercontent.com/5007613/36552034-e84bab5e-1833-11e8-95c8-58237aee2bb7.png">

[2018-02-22 16:58] nasyxx commented on #27
And on doing with `-d` (I tried it twice, both for this result.), I get

[code]

[2018-02-22 16:59] kaushalmodi commented on #27
This is like shooting in the dark..

Does `PAGER=less man ls | eless` also not work? If it works, then I believe we can settle on a workaround for macOS.. Simply create a little bash function or alias that does that. WDYT?

[2018-02-22 17:05] kaushalmodi commented on #27
Thinking more about it.. not exactly.. You get that "This script is not .." error when it correctly gets detected as a man page i.e. when [this if condition][1] gets executed.

When it was not getting detected (before this fix), it was entering [this final else clause][2]. So all man page raw data including the man page color codes showed up without rendering in emacs buffer.

So that part makes s

[2018-02-22 17:10] nasyxx commented on #27
Yes, it works fine.
<img width="466" alt="screen shot 2018-02-23 at 1 09 25 am" src="https://user-images.githubusercontent.com/5007613/36553026-42e217f4-1836-11e8-8dc0-37db951f9b78.png">
<img width="674" alt="screen shot 2018-02-23 at 1 09 11 am" src="https://user-images.githubusercontent.com/5007613/36553016-3e303bdc-1836-11e8-9dc1-a7bb4ed12ad2.png">

[2018-02-22 17:13] kaushalmodi commented on #27
OK, so if `PAGER=less man ls | eless` is working for @mobyte0 too, would [an aliasing solution like this][1] work?

If so, please share the alias that works for you.

Of course, if one of you can provide a true fix so that `eless` works with macOS `man`, I will accept the PR.

[1]: https://eless.scripter.co/#example-eless-config-in-tcsh

[2018-02-22 17:42] nasyxx commented on #27
I am not sure how to make an alias with parameters in ZSH. So I write it as:

[code]

[2018-02-22 17:51] kaushalmodi commented on #27
@nasyxx Thanks! That *almost* works on bash.. I have verified this to work on bash:

[code]

The fix was to add that `;` after `eless`. If this works for you too on zsh, I can mention users to use this alias in their bash/zsh profiles in order to view man pages using eless on macOS.

[2018-02-22 18:11] nasyxx commented on #27
It still works for me on zsh.

[2018-02-22 18:29] mobyte0 commented on #27
Here's a totally gross alias that I've set up to temporarily solve the problem:
[code]

So basically, it just takes the man page and pipes it right into `eless`. I think I'm giving up on wrestling with `$PAGER`, lol.

[2018-02-22 18:36] kaushalmodi commented on #27
I have updated the documentation in the latest commit on master. Now we have this section: https://eless.scripter.co/#example-eless-config-in-bash

[2018-02-22 19:16] mobyte0 opened #29 "Default theme"
Hey, let's talk about the current theme.

I like the new ([9448563](https://github.com/kaushalmodi/eless/commit/94485630bfc42f384597dc563c3b616243613042)) `Man-overstrike` color but I don't think it meshes well with `man` links. In my opinion (by using this site: http://paletton.com/#uid=51v0u0kkOuvb3MlgsBnparKsemh), I think #F3C355 would be a well suited color. I also think that talking about the

[2018-02-22 19:32] kaushalmodi commented on #29
I don't quite get that, but I am fine with that color too. Can you provide a screenshot to explain what you mean by the color not meshing well with the links?

Also, you can get the same change by putting below in your `~/.emacs.d/elesscfg`:

[code]

Above will load the current default theme + your suggested color.

We can heavily customize the whole theme, or selected faces, but you can do that i

[2018-02-23 17:16] raxod502 opened #30 "Installation instructions"
I cannot find any installation instructions in the documentation for `eless`. I eventually just cloned the repository and linked the `eless` script into my `PATH` (although the Info page is still not installed), but I'd rather this were spelled out so I didn't have to think about it. Or if there were a Homebrew formula for `eless`, that would solve the problem as well.

[2018-02-23 18:09] kaushalmodi commented on #30
Thanks! I thought something was still missing :)

I am not a build-script expert (i.e. don't want to risk messing up people's directories). But considering the manual steps are not too complicated, would this work?: https://eless.scripter.co/#installation

[2018-02-23 18:12] kaushalmodi commented on #30
I use RHEL 6.6, but if you know how to do that, PR is welcome.

[2018-02-24 00:27] raxod502 commented on #30
Thanks, the installation instructions are very helpful. Exactly what I was looking for.

Regarding a Homebrew formula, I have created one [here](https://github.com/raxod502/homebrew-core/blob/55bb7203272e83cf84e311a40578f112135e4d75/Formula/eless.rb). The only additional thing that is needed is a better test (see the `test do` section). Usually Homebrew prefers to have a test that actually tests b

[2018-02-24 00:51] kaushalmodi commented on #30
Thanks!

Thanks again :)

eless is an interactive program, requires `q` to quit. I am also not sure what kind of test would work that. Showing eless version as you did seems like the best thing right now.

[2018-02-24 01:01] raxod502 commented on #30
See https://github.com/Homebrew/homebrew-core/pull/24492.

[2018-03-01 06:39] raxod502 commented on #30
As per https://github.com/Homebrew/homebrew-core/pull/24492#discussion_r171456328, are there any particular version requirements on Bash and Perl?

[2018-03-01 11:19] kaushalmodi commented on #30
I have tested on Perl 5.16.3, and [someone else has tested it on Bash 3.2][1].

I don't think I am using any esoteric syntax for either of those. So I don't think they can be specified as *minimum* versions.

What are the versions on your OS (or the oldest macOS that you can get access to) where eless runs fine?

But if you really have to specify the minimum versions, then just set those.

[1]: ht

[2018-03-01 17:05] raxod502 commented on #30
OK, well Perl 5.16.3 and Bash 3.2 happen to be exactly the versions shipped with OS X 10.10, the oldest version supported by Homebrew, so I'll remove the dependencies. Thanks!

[2018-03-01 18:38] mobyte0 commented on #27
Oh, hey, I found an even better solution. Interestingly enough, I realized that in the man pages for `man` that it lets you specify the pager as an argument. Thanks to this, a universal solution should be possible that would involve just setting `man` to an alias such as `/usr/bin/man -P eless $argv` with replacing `/usr/bin/man` to wherever your `man` is located.

Hopefully this helps!

[2018-03-01 23:12] kaushalmodi commented on #27
@mobyte0 Very cool! that's definitely less work than the earlier alias. So does this alias work for you:

[code]

If so, I'll update the documentation.

*Also, does this issue need to stay open any more?*

[2018-03-03 05:30] raxod502 opened #31 "View multiple files in sequence with eless"
When running e.g.

[code]

I would like to be able to inspect the first file as usual, then press some key to proceed to the next file, and so on until all the files are processed. (This is what `emacsclient` does, and the keybinding is `C-x #`.) Is there an equivalent way to do this in `eless`?

[2018-03-03 06:32] kaushalmodi commented on #31
Not yet: https://github.com/kaushalmodi/eless/tree/support-multiple-files-correctly

I had started working in that, but it's not complete yet.

[2018-03-08 06:51] kaushalmodi opened #32 "Document how markdown-mode can be installed to use eless as CLI md viewer"

[2019-07-31 00:56] arkhan opened #33 "man page with colors"
Hello great job, I have this issue when man pages contains colors

[code]
![img-2019-07-30-194346](https://user-images.githubusercontent.com/3141865/62175601-de751680-b303-11e9-936b-0feef1d9cb44.png)

[code]
![img-2019-07-30-194328](https://user-images.githubusercontent.com/3141865/62175611-ea60d880-b303-11e9-959c-e80acd0b310a.png)

Thanks

[2019-07-31 01:17] kaushalmodi commented on #33
What is your OS?

I am on GNU/Linux type system: RHEL 6.8 and the same man page show up fine in eless too:

![image](https://user-images.githubusercontent.com/3578197/62176432-788e8c00-b30f-11e9-8c01-96e2c9d87e58.png)

[2019-07-31 01:23] kaushalmodi commented on #33
Your screenshot looks similar to the one in an earlier issue: https://github.com/kaushalmodi/eless/issues/27.

Based off the long debug in that thread, this was the solution: https://eless.scripter.co/#example-eless-config-in-bash [don't set `PAGER` to `eless` for man pages on OSX (I am assuming you have that OS)].

[2019-07-31 02:43] arkhan commented on #33
Hello @kaushalmodi, I am using archlinux and emacs 27

[2019-07-31 02:53] kaushalmodi commented on #33
hmm.. even then, does `PAGER=less man -P eless argv` work for you (instead of `PAGER=eless man argv`)?

[2019-07-31 02:54] kaushalmodi commented on #33
If that doesn't help, then please provide debug info using the `-D` switch as explained here: https://eless.scripter.co/#how-to-help-debug.

[2019-07-31 03:05] arkhan commented on #33
No, I get the same result

[2019-07-31 03:09] arkhan commented on #33
I have this:
![img-2019-07-30-220656](https://user-images.githubusercontent.com/3141865/62180709-a5926d00-b316-11e9-8b22-c20ac7501f06.png)

[2019-07-31 03:28] kaushalmodi commented on #33
I am seeing the same value of `first_line_piped_data` ..

[code]

.. but you are getting "No man page or info manual detected."

So, let's try this.. what do you get when you run the below bash script (it's an excerpt of what I use in `eless` to detect if man command is called)?

[code]

The output I get is:

[code]

[2019-07-31 03:30] arkhan commented on #33
@kaushalmodi, I get this:

[code]

[2019-07-31 03:30] kaushalmodi commented on #33
@arkhan

To what I said in my previous comment:

I see that your `first_line_piped_data` is wrapping around.. is that wrapping because of terminal width or does that line actually break with a newline?

[2019-07-31 03:33] kaushalmodi commented on #33
@arkhan Can you share the first 10 lines of your "piped data file" to a gist or ix.io or something .. the file path following:

[2019-07-31 03:43] kaushalmodi commented on #33
Also can you edit your copy of eless and add the below debug line after these lines:

https://github.com/kaushalmodi/eless/blob/0065c3b9629bcc74b5d1f818336d9dcf1ccd2b05/eless#L553-L558

.. add

[code]

Run the same command with `-D` and this time, please paste the whole text output here between

[code]

instead of pasting the screenshot.

[2019-07-31 03:49] kaushalmodi commented on #33
And finally, can you also paste the output of:

[code]

Mine is:

[2019-07-31 12:29] kaushalmodi commented on #28
Closing this issue as `man Net::FTP` was and is tested to work fine for me.

[2019-07-31 12:29] #28 closed

[2019-07-31 12:30] kaushalmodi commented on #29
Closing this issue as the default eless theme can be overridden in `~/.emacs.d/elesscfg`: https://eless.scripter.co/#user-config-override.

[2019-07-31 12:30] #29 closed

[2019-07-31 12:32] kaushalmodi commented on #27
I believe it is safe to close this issue as `PAGER=less man -P eless ..` has been confirmed to work well on OSX.

Ref: https://eless.scripter.co/#example-eless-config-in-bash

[2019-07-31 12:32] #27 closed

[2019-07-31 12:33] kaushalmodi commented on #30
I had forgotten to close this issue. It was resolved once I published https://eless.scripter.co/#installation.

[2019-07-31 12:46] kaushalmodi commented on #17
Briefly experimented with using `read`, but it did not work as the elisp code being read in contains a `` ` ``, thus giving this error:

It is this line:

[code]

[2019-07-31 12:50] kaushalmodi commented on #17
An alternative is to use [this trick][1] by @alphapapa as suggested [here][2].

[1]: https://github.com/alphapapa/matrix-client.el/blob/1e118e903a106c164c8610687160c33a90e309c8/matrix-client-standalone.el.sh#L63-L65
[2]: https://www.reddit.com/r/emacs/comments/cjr9hi/emacscalc_or_ec_is_a_script_that_lets_you_run_the/evh9qk1/

[2019-07-31 15:03] raxod502 commented on #30
Might it be a good idea to put in a mention of Homebrew at the very top? It is always better to install software with a package manager than otherwise.

[2019-07-31 16:20] kaushalmodi opened #35 "Make the test for info .. | eless work on Travis"
https://travis-ci.org/kaushalmodi/eless/jobs/566054797#L565

[2019-07-31 17:58] kaushalmodi commented on #35
Really odd..

On my machine for both versions 4.13 and 6.5 of `info`, `info grep | eless -D` shows this in the debug:

But on Travis, for `info` version 6.1, the same gives:

Ref: https://travis-ci.org/kaushalmodi/eless/jobs/566098228#L485

Why??

[2019-07-31 18:42] kaushalmodi commented on #35
OK, the issue was with `info` 6.1 that comes with xenial distribution on Travis.
Upgrading to the bionic distribution upgrades texinfo to 6.5 and that solves this problem.

[2019-07-31 18:53] kaushalmodi commented on #35
Fixed in https://github.com/kaushalmodi/eless/commit/23113863f95e0ab4ebe91990196b8fa65f97609f.

[2019-07-31 18:53] #35 closed

[2019-07-31 19:55] #30 closed

[2019-07-31 20:17] kaushalmodi commented on #30
I do not use homebrew, so it didn't make sense for me to put it at the very top. Though, I did add a section on how to install eless for homebrew users: https://eless.scripter.co/#installation-homebrew.

My preferred and tested installation procedure is now using `make install`: https://eless.scripter.co/#run-make.

[2019-07-31 20:44] kaushalmodi commented on #33
I recently added few more debug commands to eless.

So please update your eless version to the HEAD of the master branch, and paste the output of your eless command with the `-D` switch within triple backquotes in this thread.

[2019-07-31 21:34] alphapapa commented on #17
Found it on StackOverflow.  Works really well!  :)

[2019-07-31 21:37] kaushalmodi commented on #17
@alphapapa Looks like you need to escape just the `` ` ``, right?

[2019-08-01 01:20] raxod502 commented on #30
I strongly believe that installing software manually (for example, with `make install`) is an antipattern and shouldn't be recommended. Package managers came about for a reason: installing software in a standard and secure way, allowing for uninstallation, protecting users and maintainers from mistakes, and so on.

If you would prefer to keep it this way, though, I won't argue with you. It's your

[2019-08-01 01:25] kaushalmodi commented on #30
@raxod502 I am not arguing the security and convenience of utilities like Homebrew. It's just that I do not have that installed at work (my primary machine). I am just accustomed to installing software locally in my `$HOME` and then managing versions of various apps using GNU Stow. Regular installation areas like `/usr/local` are not accessible to me. So `make install PREFIX=..` has become very na

[2019-08-01 01:28] kaushalmodi commented on #30
OK, I thought let me at least read through the Homebrew installation instructions on https://docs.brew.sh/Homebrew-on-Linux, and was disappointed to see this requirement:

I am on RHEL 6.8 which is Glibc 2.12. But this is not the first time that I am unable to use a distributed binary because of this Glibc issue, so I am used to doing `configure && make install` for almost everything ;-)

[2019-08-01 01:28] raxod502 commented on #30
I wasn't suggesting that Homebrew be used on a Linux system. I think that's also an antipattern except in niche use cases. Ideally, eless would be installed with the host system's native package manager. I personally run Manjaro Linux, so I would be installing using Pacman.

[2019-08-01 01:30] kaushalmodi commented on #30
For the same reason that **nothing** on my machine except to `/home/$USER/` is accessible to me, the OS's package manager does not work for me.

[2019-08-01 05:06] raxod502 commented on #30
Right, sure, I understand that you can't do it this way. It's for that reason that I think work computers where you don't have root access are also an antipattern. There are better and worse solutions to your situation, but there's also a sense in which it's just rearranging deck chairs on the Titanic.

My point is that _in general_, the standard, recommended solution for software installation sho

[2019-08-01 06:24] alphapapa commented on #17
I'm not completely sure what you're referring to, but if you mean what I think you do, then yes, I think that's right.  :)

[2019-08-01 11:20] kaushalmodi commented on #17
I was referring to:

https://github.com/alphapapa/matrix-client.el/blob/1e118e903a106c164c8610687160c33a90e309c8/matrix-client-standalone.el.sh#L76

[2019-08-01 11:34] alphapapa commented on #17
Right, the backquote is a metacharacter, even inside quoted strings and heredocs.  I forget about that, because I always use `$()`.  That bit me today when working on https://github.com/alphapapa/makem.sh, inside an elisp docstring.

If I were to rewrite the code at that URL, I would probably use `(list...` instead of backquoting and unquoting in that list.

[2019-08-01 13:32] arkhan commented on #33
Update eless and now I get this:

![img-2019-08-01-082946](https://user-images.githubusercontent.com/3141865/62297393-c520b700-b436-11e9-9fa5-5e28077f8892.png)

![img-2019-08-01-082903](https://user-images.githubusercontent.com/3141865/62297366-b2a67d80-b436-11e9-8df1-1291d74bec72.png)

Thanks

[2019-08-01 13:55] kaushalmodi commented on #33
1. Does evaluating `(man "tclvars(n)")` in an emacs -Q work for you [I just tested that and it works for me]? As you see in your screenshot, that's exactly what eless does.
2. Do you want to try `PAGER="eless -D" man grep`? (and please paste the ascii text from the terminal instead of pasting the image; that would allow me to quickly copy/paste stuff from there if I need).

Also, what changed on y

[2019-08-01 14:03] arkhan commented on #33
Whit ```(man "tclvars(n)")``` get this
![img-2019-08-01-085957](https://user-images.githubusercontent.com/3141865/62299673-fdc28f80-b43a-11e9-9605-19412e9199cf.png)

But ```PAGER="eless -D" man grep``` works
![img-2019-08-01-090056](https://user-images.githubusercontent.com/3141865/62299771-2fd3f180-b43b-11e9-8d1a-1c1f4d9c45e0.png)

[2019-08-01 16:36] kaushalmodi commented on #33
.. so it looks like you do not have tclvars in your MANPATH? Does a simple `man tclvars` (without `eless`) work for you?

If you try to view arbitrary man pages like:

- `PAGER="eless -D" man grep`
- `PAGER="eless -D" man ls`
- `PAGER="eless -D" man tclvars`

and for tclvars, if eless is actually trying to do `(man "tclvars(n)")` and if that doesn't work, then the problem seems to be outside emacs

[2019-08-06 21:51] jsyjr opened #36 "Customize faces"
Using elesss would be less jarring if it followed the custom-set-faces in my custom-file.

[2019-08-06 22:30] kaushalmodi commented on #36
You should be able to add any customization in the user config override. Have you looked at: https://eless.scripter.co/#user-config-override ?

[2019-08-07 12:53] kaushalmodi commented on #36
@jsyjr I have now added a little example to the eless docs to address your question: https://eless.scripter.co/#elesscfg-example--using-custom-file

[2019-08-07 14:45] jsyjr commented on #36
Thanks.  The little example was just the clue I needed.  It works just as I had hoped.

[2019-08-07 14:45] #36 closed

[2019-11-05 21:48] #33 closed

[2019-12-04 08:12] t-qnective opened #37 "`make install` fails without meaningful error message if makeinfo is not installed"
(Thanks for eless!)

[code]

When not running emacs in batch mode and looking into the mentioned buffer, one can discover that the `makeinfo` command is missing.

Suggestions:

1. Add `texinfo` under Requirements.
2. Check explicitly for the presence of `makeinfo` and fail with a meaningful error message.

[2019-12-04 16:47] kaushalmodi commented on #37
Thank you :)

I will commit something shortly that fixes this. Your suggestions make a very good sense.

[2019-12-04 16:54] #37 closed

[2019-12-04 16:55] kaushalmodi commented on #37
@t-qnective

Please try out the latest commit on master.

Even though this issue is auto-closed, feel free to comment here further if you still see any issue.

[2020-04-05 23:11] mohkale commented on #4
@iqbalansari I'd just like to point you to [vipe](https://github.com/madx/moreutils/blob/master/vipe). I believe it's a better fit for this use case.

It literally allows you to do exactly what you'd suggested:

[code]

[2021-01-16 14:20] kolewu opened #38 "Error when filename has parentheses"
When loading a file and the filename has parentheses *eless* breaks with an error.

[code]

Result:
[code]

eless is
[code]

[2021-04-23 20:56] kaushalmodi commented on #38
I can accept a PR that fixes this. I don't know how to make bash interpret the whole escaped space string as a single string when pass it on to the emacs call.

One way to make it work is to use double quotes around the name with spaces.

e.g. `eless "filename\ with\ \(parentheses\).txt"`

[2021-04-23 22:17] #38 closed

[2021-04-23 22:19] kaushalmodi commented on #38
The fix was actually simple. I have fixed this in

https://github.com/kaushalmodi/eless/blob/2ee16ce79ef994bb62acc1db8a48d8ae68cf9dd6/eless.org#L602-L605

[2021-04-23 22:22] kaushalmodi commented on #38
Now both of these work:

[code]

[2022-02-15 21:46] indigoviolet opened #39 "Reconsider emacs dependency for brew formula"
I have a separate emacs installation and don't want to use `brew`'s installation; I wonder how common that is and whether `emacs` should be a required dependency in the formula.

[2022-02-15 21:47] indigoviolet opened #40 "How can I use eless in vterm?"
It would be nice to configure the way that eless invokes emacs -- for instance, I want to use it in `vterm` and open in the current emacs frame.

[2022-02-15 21:58] kaushalmodi commented on #39
I don't have a macOS machine, so I don't use brew personally. I had added that through a user request and PR.

If you don't want to use brew, you can follow these instructions: https://eless.scripter.co/#installation

Well, eless basically is a shell script that calls emacs in batch mode. So it makes sense to have emacs as a dependency.

[2022-02-15 22:02] kaushalmodi commented on #40
I don't use vterm, so I am afraid I cannot help here.

eless essentially is a shell script wrapper that calls emacs in batch mode. See https://eless.scripter.co/#emacs-q-view-mode.

You can tweak the eless.org file, tangle it and keep on experimenting with it till you get what you need. I'd be happy to accept a PR, or at least document how to use this with vterm.

[2022-02-15 23:54] indigoviolet commented on #39
Thanks for the quick response. My reasoning was that a user (who has discovered and is capable of using `eless`) can easily `brew install emacs` themselves if they wanted; it is more of a pain to figure out how not to install that dependency (`--ignore-dependencies`) or blow away their existing installation. In any case, if you're not the author/owner of the formula, this issue can be closed.

[2022-02-16 00:07] kaushalmodi commented on #39
@raxod502 If you have time, can you address @indigoviolet 's concern here? Should emacs be removed as a dependency from eless' brew recipe?

[2022-02-16 01:54] kaushalmodi commented on #4
I'll close this as I haven't found a use for this or any interest in these many years.

[2022-02-16 01:54] #4 closed